[package]
name = "minimal-auction"
version = "1.0.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
cosmwasm-std = { version = "1.1.10", features = ["staking"] }

[profile.release]
opt-level = "s"
lto = true
codegen-units = 1
panic = "abort"
